body{
    margin: 0;
    margin-left: 15px;
    background-color: #702f11fb;
    color: #d2d7dc;
}

.top-header{
    border: 1px solid #f7cd96;
    background-color: #f7cd96;
    border-radius: 3px;}
    
.row{
    display: flex;
    align-items: ;
    justify-content: center;
}

.introduction{
    border: 1px solid;
    width: 35vw;
    margin-left: 0px;
    margin-top: 10px;
    padding-bottom: 100vh;
}
img{
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
.intro{
    font-size: 20px ;
    padding-left: 15px;
}
.intro p{
    margin-top: 0;
}
p#name{
    font-size: 29px;
}
/* first column */

.information{
display: grid;
grid-template-columns: repeat(2, minmax(0, 1fr));
gr
}
 